/* Media queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 400px) {
  #trailer iframe {
    width: 350px;
    height: 196px;
  }
}

@media (min-width: 600px) {
  #trailer iframe {
    width: 560px;
    height: 315px;
  }
}
